.mobile__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 78.89vw;
  height: 26.38vh;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  padding: 2vh;
  z-index: 9999;
}

.mobile__popup__title {
  height: 29PX;
  width: 158px;
  font-family: 'Roboto', sans-serif;
  font-size: 5.11vw;
  font-weight: 500;
  line-height: 8.19vw;
  letter-spacing: 3.5%;
}

.mobile__popup__input {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 4.06vw;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  line-height: 6.5vw; /* or 2.92vh */
  letter-spacing: 0.035em;
}

.mobile__popup__input > input {
    width: 41.67vw;
    height: 2.88vh;
    border: 2px solid grey;
    border-radius: 6vh;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.78vw;
    font-weight: 400;
    line-height: 4.45vw;
    letter-spacing: 0.035rem;
    margin-left: 10px;
}

.mobile__popup__color__input{
    height: 5vh;
    width: 100%;
    display: flex;
    gap: 1vw;
    margin-top: 2vh;
}

.mobile__popup__color__input > span{
  font-family: 'Roboto', sans-serif;
  font-size: 4.06vw; 
  font-weight: 500;
  line-height: 6.5vw; 
  letter-spacing: 0.035em;
}

.mobile__popup__color__input__color{
    gap: 2vw;
    display: flex;
    margin-left: 10px;
}

.mobile__popup__color__input__color__1,
.mobile__popup__color__input__color__2,
.mobile__popup__color__input__color__3,
.mobile__popup__color__input__color__4,
.mobile__popup__color__input__color__5,
.mobile__popup__color__input__color__6 {
  width: 4.91vw;
  height: 4.91vw;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: black;
}

.mobile__popup__color__input__color__1{
    background-color: #B38BFA;
}

.mobile__popup__color__input__color__2{
    background-color: #FF79F2;
}

.mobile__popup__color__input__color__3{
    background-color: #43E6FC;
}

.mobile__popup__color__input__color__4{
    background-color: #F19576;
}

.mobile__popup__color__input__color__5{
    background-color: #0047FF;
}

.mobile__popup__color__input__color__6{
    background-color: #6691FF;
}

.mobile__popup__close {
  width: 51.67vw; 
  height: 4.00vh; 
  gap: 0vw; 
  margin:0 auto ;
  background-color: #ffffff;

}

.mobile__popup__close > button {
  margin-top: 1rem;
  height: 4vh;
  width: 51vw;
  font-family: 'Roboto', sans-serif;
  font-size: 4.72vw; 
  color: white;
  font-weight: 400;
  line-height: 7.56vw; 
  letter-spacing: 0.035em;
  border: none;
  border-radius: 6px; 
  background-color: rgba(22, 0, 139, 1);
  text-align: center;
}






.highlight{
    border: 2px solid black;
    border-radius: 6vh;
}
