.mobile__notes{
    height: 10vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    
    
}

.mobile__notes__icon{
    height: 9vh;
    width: 11vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin-left: 2vw;
    margin-top: 8vw;
}

.mobile__notes__title{
    width: 85vw;
    text-align: left;
    font-size: 3vh;
    font-weight: 600;
    margin-left: 2vw;
}